<div class="gallery">
    <div class="mycard">
    <%= image_tag "bluegreen.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "butterfly.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "car.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "cat.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "dino.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "elephant2.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "kenesis.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "mushroom.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "psychdelic.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "squares.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "temet.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>

    <div class="mycard">
    <%= image_tag "unicorn.jpg", class:"gallery-image" %>
    <p>I was born an artist. I've been painting for over a decade now. I love creating art and using it to make people feel
        more alive. I'm always discovering new ideas and techniques. If you're interested in painting, please don't hesitate
        to reach out!</p>
    </div>
</div>