<div class="gallery">
    <div class="mycard">
        <h2>goVend</h2>
        <p class="card-text">Built with Ruby on Rails, goVend helps to conect vendors to events.</p>
        <%= image_tag "govend.png" %>
    </div>

    <div class="mycard">
        <h2>BBQ Chicken Master Class Signup</h2>
        <p class="card-text">Built with vanilla CSS, this is where I really started to love CSS. The radio 
            buttons are animated and change color. Super fun. </p>
        <%= image_tag "RainbowBBQchicken.jpg" %>
    </div>

    <div class="mycard">
        <h2>CSS Art</h2>
        <p class="card-text">Built with vanilla CSS, for a DEV Challenge. If you want to learn the in's and outs of
            CSS, trying constructing an image with it! This lead to me learning a bit about SVGs too.  </p>
        <%= image_tag "cssart.png" %>
    </div>
    <div class="mycard">
        <h2>Leads Tracker Extension</h2>
        <p class="card-text">My first chrome extension. Keep track of your leads.</p>
        <%= image_tag "leadstrackerextension.jpg" %>
    </div>

    <div class="mycard">
        <h2>Original Pins</h2>
        <p class="card-text">My first pin designs. These are characters from some of my first paintings that I then digitized,
            vectored by hand, and sent out to production.</p>
        </p>
        <%= image_tag "firstpins.jpg" %>
    </div>
</div>